#container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

a {
  align-self: flex-end;
  padding: 20px;
}

#info-container {
  width: 100vw;
  max-width: 100%;

  display: flex;
  flex-flow: row nowrap;
}

#rooms-container {
  width: 25%;
  border: 1px solid black;
  padding: 10px;
  height: 84vh;

  margin-right: 40px;
}

h3 {
  margin: 0 0 20px;
}

ul {
  min-height: 78%;
  max-height: 78%;
  overflow: auto;
  list-style: none;
}

li {
  margin-bottom: 5px;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

h1 {
  margin-top: 0;
}

#messages-container {
  width: 50vw;
  height: 65vh;
  overflow: auto;
  margin-bottom: 15px;
  padding: 0 10px;

  border: 1px solid black;
}

#checkbox-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.message-item {
  display: flex;
  justify-content: space-between;
}

p {
  width: fit-content;
  margin: 5px 0;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 40vw;
  height: 32px;
  margin-right: 20px;
  border: 1px solid slateblue;
  border-radius: 3px;
  outline: none;

  padding: 0px 10px;
}

.purple-btn {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: slateblue;
  color: white;
  cursor: pointer;
}